{% extends "admin/change_form.html" %}

{% block object-tools-items %}
    {{ block.super }}
    {% if original.pk %}
    <li>
        <a href="{% url 'admin:course-import-students' original.pk %}" class="historylink" style="background-color: #4CAF50; color: white;">Import Students</a>
    </li>
    <li>
        <a href="{% url 'admin:course-import-rubric' original.pk %}" class="historylink" style="background-color: #673AB7; color: white;">Import Rubric (JSON)</a>
    </li>
    {% endif %}
{% endblock %}
